# =========================
# Environment variables
# =========================
.env
server/.env
client/.env

# =========================
# Node.js
# =========================
node_modules/
npm-debug.log
package-lock.json

# =========================
# Python
# =========================
venv/
ml_engine/venv/
__pycache__/
*.pyc

# =========================
# ML Models / Weights
# =========================
*.h5
*.pt
*.pb
models/

# =========================
# OS / IDE
# =========================
.vscode/
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
logs/
*.log